body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f8f8f8;
  width:320px; 
  font-family: 'Fresca', Georgia, Times, serif; 
  font-size:18px; 
}

h1 {
  width: 100%;
  background: #e70e28;
  border-bottom: 3px solid #b3071b;
  color: #fff;
  font: bold 24px/27px 'Fresca', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 5px 12px;
  padding-top: 7px;
  text-shadow: 0 2px 0 #b3071b;
  position: fixed;
}
.list-container {
  min-height: 200px;
  max-height: 600px;
  padding-top: 42px;
  margin-bottom: 40px;
  overflow-y: scroll;
}

ul.todolist { 
  list-style: none; 
  padding-left: 0; 
  margin-left: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ul.todolist li { 
  display:block; 
  text-decoration:none; 
  color: #000000; 
  line-height: 20px;
  border-top: solid 1px #ccc; 
  padding: 5px 10px; 
  cursor:pointer; 
}
ul.todolist li:first-child { border-top: none; }
ul.todolist li:hover { color: #ccc; text-decoration: line-through; }
ul.todolist li strong { margin-right:10px; }


/* Using pure CSS buttons from purecss.io/buttons/ */
/*button {
  font-size: 100%;
  padding: .5em 1.5em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: .3s linear -webkit-box-shadow;
  -moz-transition: .3s linear -moz-box-shadow;
  -ms-transition: .3s linear box-shadow;
  -o-transition: .3s linear box-shadow;
  transition: .3s linear box-shadow;
}*/

/*button:hover {
  background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
}*/

.prompt {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dadada;
  width: 100%;
}

.prompt input {
  width: 100%;
  background-color: #fff;
  font-family: 'Fresca', Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: none;
  outline: none !important;
  padding: .5em;
  padding-left: 10px;
  margin: 0;
}

.prompt input:focus { 
    outline: none;
}
