body {
  padding: 0;
  margin: 0;
  background: #EEEEEE;
}


h1 {
  width: 100%;
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  font: bold 24px/27px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: absolute;
  text-shadow: 0 1px #646A6E;
}

/* List CSS modified from http://www.marcofolio.net/css/8_different_ways_to_beautifully_style_your_lists.html */

body{ width:320px; font-family:Georgia, Times, serif; font-size:15px; }
ul.todolist { list-style: none; padding-left: 0; margin-left: 0;}
ul.todolist li { }
ul.todolist li { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
  border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer; }
ul.todolist li:hover { background-color:#F08080; }
ul.todolist li strong { margin-right:10px; }


button:hover {
background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}


/* Using pure CSS buttons from purecss.io/buttons/ */
button {
  font-size: 100%;
  padding: .5em 1.5em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: .1s linear -webkit-box-shadow;
  -moz-transition: .1s linear -moz-box-shadow;
  -ms-transition: .1s linear box-shadow;
  -o-transition: .1s linear box-shadow;
  transition: .1s linear box-shadow;
}

.prompt {
  position:fixed;
  bottom: 0;
}

.prompt input {
    border: 2px solid #dadada;
    border-radius: 7px;
    line-height: 25px;
    width: 210px;
}

.prompt input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
